.container {
}
.input {
  @apply bg-white border border-gray-300 rounded-full py-4 pl-8 block w-full appearance-none leading-normal text-3xl font-semibold;

  padding-right: 60px;
  width: 100%;
  max-width: 600px;
}
.input:focus {
  @apply outline-none shadow-outline;
}
.button {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  padding-right: 24px;
  padding-left: 12px;
}
.icon {
  height: 28px;
  cursor: pointer;
  transition: fill 0.1s ease-in-out, transform 0.1 ease-in-out;
}
.button:focus > .icon,
.button:hover > .icon {
  fill: #38b2ac;
  transform: scale(1.1);
  transition: fill 0.3s ease-out, transform 0.3 ease-out;
}
